body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffcc5; 
}

header {
  background-color: #191717; 
  color: #fffcc5;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#title {
  color: #191717;
  text-align: center;
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px; 
  padding: 20px; 
}

.thumbnail {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thumbnail:hover {
  transform: scale(1.05); 
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox img {
  max-width: 90%; 
  max-height: 80%; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.lightbox p {
  color: white;
  margin-top: 10px;
  text-align: center; 
  max-width: 80%; 
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: white;
  border: none;
  font-size: 28px; 
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #ff6961; 
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-btn:hover {
  color: #ff6961; 
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #191717;
  color: #fffcc5;
  
}

#redes-sociais {
  margin-bottom: 10px;
}

.social-icon {
  margin: 0 10px;
  display: inline-block; /* Para que possamos aplicar padding e margin */
}

.social-icon img {
  width: 24px; /* Tamanho dos ícones */
  height: auto; /* Para manter a proporção */
  transition: transform 0.3s;
}

.social-icon:hover img {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

